
<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="fw-bolder text-primary text-center">Sign Up</h1>
      <div class="form my-3">
        <div class="form-group mt-3">
            <label class="fw-bold" for="">First Name</label>
            <input [(ngModel)]="firstName" type="text" class="form-control fw-bold" placeholder="Enter First Name">
          </div>
          <div class="form-group mt-3">
            <label class="fw-bold" for="">LastName</label>
            <input [(ngModel)]="lastName" type="text" class="form-control fw-bold" placeholder="Enter Last Name">
          </div>
        <div class="form-group mt-3">
          <label class="fw-bold" for="">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control fw-bold" placeholder="Enter Email">
        </div>
        <!-- <div class="form-group mt-3">
            <label class="fw-bold" for="">Type</label>
            <input [(ngModel)]="type" type="text" class="form-control fw-bold">
          </div> -->
          <div class="form-group mt-3">
            <label class="fw-bold" for="">User Type</label>
          <select mz-select
          id="options-select"  class="form-control fw-bold"
          [(ngModel)]="modifiedTitle.title">
          <option *ngFor="let title of titles" [value]="title.value">{{ title.text }}</option>
        </select>
      </div>

        <div class="form-group mt-3">
          <label class="fw-bold" for="">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control fw-bold" placeholder="Enter Password">
        </div>
        
        <div class="form-group mt-3">
          <button (click)="signup()" class="btn btn-outline-primary fw-bold">SignUp</button>
          <a routerLink="/auth/signin" class="link-primary text-decoration-none float-end fw-bold">Already have an account</a>
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>
  
  