<div class="container" [ngClass]="{'vh-100': property_data.length==0}">
    <h1 class="fw-bolder text-primary">Property List</h1>
    <p class="text-black-50 fw-bold">Found {{property_data.length}} records,</p>

    <div class="row mt-5">
        <div class="col-12 mb-5"  *ngFor="let property of property_data;let id = index;">
            <div class="card shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="bg-secondary w-100 h-100">
                            <img  class="card-img" [attr.src]="property['images'][0]" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 class="card-title fw-bold text-dark">{{property['bhk']}} BHK for <span class="text-lowercase">{{property['propertyType']}}</span> in {{property['buildingName']}}</h5>
                                <button *ngIf="role!='customer'" (click)="goToEdit(property['propertyId'])" class="btn btn-sm btn-warning fw-bold">Edit</button>
                            </div>
                            <p class="card-text fw-bold text-black-50">{{property['street']}}, {{property['city']}}, {{property['pincode']}}</p>
                            <div class="d-flex justify-content-between my-2">
                                <div id="sqft" class="text-center">
                                    <h4 class="fw-bold">{{property['builtUpArea']}} <sub>sqft</sub></h4>
                                    <p class="text-black-50 fw-bold">Builtup Area</p>
                                </div>

                                <div id="carpetArea" class="text-center">
                                    <h4 class="fw-bold">{{property['carpetArea']}} <sub>sqft</sub></h4>
                                    <p class="text-black-50 fw-bold">Carpet Area</p>
                                </div>
                                
                                <div id="price" class="text-center">
                                    <h4 class="fw-bold">{{property['price']}} &#8377;</h4>
                                    <p class="text-black-50 fw-bold">Price</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button (click)="loadModal(property)" href="#" class="btn btn-outline-primary fw-bold">Get Details</button>
                                <p *ngIf="property['avg_rating']!=null">{{print(property['avg_rating'])}} <span *ngFor="let item of result"><svg class="mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z" fill="#f88f01"></path></svg></span></p>
                            <p *ngIf="property['avg_rating']==null"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z" fill="#ffffff"></path></svg></p>
                            </div>
                            </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
