<div class="container vh-100">
    <h1 style="text-shadow: 10px 10px 5px #E3E3E3;" class="mt-4 fw-bolder text-primary text-center">Property Requirement</h1>
    <div class="accordion mt-5" id="accordionExample">
        <div *ngFor="let property of property_data; let id = index;" class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <div class="accordion-button" (click)="onSelect(id)" type="button" data-parent="accordionExample" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" >
                <span class="fw-bold fs-5">Required Location : {{property['street']}}, {{property['city']}}, {{property['pincode']}}</span>
              </div>
            </h2>
            <div id="collapse{{id}}" *ngIf="selectedProp == id" data-parent="accordionExample" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body" >
                <div class="fs-5">
                    <div class="d-flex justify-content-between align-content-center">
                      <p class="text-center fw-bold text-dark fs-3">Requirement Details</p>
                      <a *ngIf="role == 'customer'" class="text-warning text-decoration-none fw-bold" (click)="editProp(property['id'])">Edit</a>
                    </div>
                    <p><strong>First Name</strong> : {{property['firstName']}}</p>
                    <p><strong>Last Name</strong> : {{property['lastName']}}</p>
                    <p><strong>Email</strong> : {{property['email']}}</p>
                    <p><strong>Phone</strong> : {{property['phone']}}</p>

                    <hr>

                    <p><strong>BHK</strong> : {{property['bhk']}}</p>
                    <p><strong>Price</strong> : {{property['price']}}</p>
                    <p><strong>Address</strong> : {{property['street']}}, {{property['city']}}</p>
                    <p><strong>Pincode</strong> : {{property['pincode']}}</p>
                </div>    
            </div>
            </div>
          </div>
      </div>
</div>