<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-3 rounded-3" style="background-color: #E5E7EB;">
            <div class="d-flex flex-column align-items-center my-2">
                <h3 class="text-center fw-bolder">Welcome, <span class="text-capitalize">{{userName}}</span></h3>
                <div class="titleBar bg-primary"></div>
            </div>
            <ul id="grouplist" class="list-group">
                <li class="btn list-group-item fw-bold" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of groups">
                {{ item.name }}
                </li>
            </ul> 
        </div>
        <div class="col-md-9">
            <div class="container mt-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>