<div class="container h-100 mb-lg-5">
    <div id="property-details">
      <div class="d-flex flex-column align-items-center">
        <h1 class="fw-bolder text-primary">Property Details</h1>
        <div class="titleBar bg-primary mt-2"></div>
      </div>
      <div class="form container mt-5">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="buildingName">Building Name<sup>*</sup></label>
              <input
                [(ngModel)]="propertyData['buildingName']"
                type="text"
                placeholder="Enter Building Name"
                class="form-control"
                id="buildingName"
              />
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="buildupArea">Builtup Area<sup>*</sup></label>
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="propertyData['builtUpArea']"
                  type="number"
                  class="form-control"
                  placeholder="Property Size"
                  id="buildupArea"
                />
                <span class="input-group-text" id="basic-addon2">Sq ft</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="flatNo">Flat No<sup>*</sup></label>
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="propertyData['flatNo']"
                  type="number"
                  min="1"
                  class="form-control"
                  value="1"
                  id="flatNo"
                />
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="carpetArea">Carpet Area<sup>*</sup></label>
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="propertyData['carpetArea']"
                  type="number"
                  placeholder="Property Size"
                  class="form-control"
                  id="carpetArea"
                />
                <span class="input-group-text" id="basic-addon2">Sq ft</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="price">Price<sup>*</sup></label>
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="propertyData['price']"
                  type="number"
                  placeholder="Enter Price"
                  class="form-control"
                  id="price"
                />
              </div>
            </div>
          </div>
  
          <div class="col-md-2"></div>
  
          <div class="col-md-5">
            <div class="form-group">
              <label for="propertyType">Property Type<sup>*</sup></label>
              <div class="input-group mb-3">
                <select
                  [(ngModel)]="propertyData['propertyType']"
                  class="form-control"
                  name="propertyType"
                  id="propertyType"
                >
                  <option selected value="">Select Type</option>
                  <option value="Sell">Sell</option>
                  <option value="Rent">Rent</option>
                </select>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="bhk">BHK<sup>*</sup></label>
              <div class="form-group mb-5">
                <select
                  [(ngModel)]="propertyData['bhk']"
                  class="form-control"
                  name="bhk"
                  id="bhk"
                >
                  <option [selected]="true" value="">Select BHK</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="property-details">
      <div class="d-flex flex-column align-items-center">
        <h1 class="fw-bolder text-primary">Locality Details</h1>
        <div class="titleBar bg-primary mt-2"></div>
      </div>
      <div class="form container mt-5">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="state">State<sup>*</sup></label>
              <div class="input-group mb-3">
                <select
                  (change)="selectedState(propertyData['state'])"
                  [(ngModel)]="propertyData['state']"
                  name="state"
                  id="state"
                  class="form-control"
                >
                  <!-- <option [selected]="id" value="">Select State</option> -->
                  <option
                    [selected]="true"
                    *ngFor="let data of this.citiesData['states']; let id = index"
                    [value]="id"
                  >
                    {{ data["state"] }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="city">City<sup>*</sup></label>
              <select
                [(ngModel)]="propertyData['city']"
                class="form-control"
                name="city"
                id="city"
              >
                <option [selected]="true" value="">Select City</option>
                <option *ngFor="let data of cities" [value]="data">
                  {{ data }}
                </option>
              </select>
              <!-- <input  [(ngModel)]="propertyData['city']" [value]="citiesData['states'][propertyData['state']]" type="text" placeholder="Enter City" class="form-control" id="city"> -->
            </div>
          </div>
        </div>
  
        <div class="row mb-5">
          <div class="col-md-5">
            <div class="form-group">
              <label for="street">Street/Area<sup>*</sup></label>
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="propertyData['street']"
                  type="text"
                  class="form-control"
                  placeholder="Enter Street/Area"
                  id="street"
                />
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="pincode">Pincode<sup>*</sup></label>
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="propertyData['pincode']"
                  type="number"
                  placeholder="Enter Pincode"
                  class="form-control"
                  id="pincode"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="property-details">
      <div class="d-flex flex-column align-items-center">
        <h1 class="fw-bolder text-primary">Gallery</h1>
        <div class="titleBar bg-primary mt-2"></div>
      </div>
      <div class="form container my-5">
        <div>
          <div class="form-group">
            <label for="image">Upload Image <sup>*</sup></label>
            <input
              max="3"
              (change)="addImages($event)"
              class="form-control"
              type="file"
              accept="image/x-png,image/gif,image/jpeg"
              id="image"
              name="images"
              multiple
            />
          </div>
    
          <div class="form-group my-5">
            <img
              class="img-thumbnail w-25 h-25"
              src="https://images.unsplash.com/photo-1494526585095-c41746248156?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
              alt="property"
            />
          </div>
        </div>
  
        <div class="d-flex justify-content-end">
          <button
            (click)="onEditProperty()"
            class="btn btn-outline-primary fw-bold mx-5"
          >
            Edit
          </button>
  
          <input (click)="onCancel()" class="btn btn-danger fw-bold" type="reset" value="Cancel"/>
        </div>
      </div>
    </div>
  </div>
  